<label class="password-field" [attr.for]="id">
  <span class="password-field__label">{{ label }}</span>
  <span class="password-field__row" [class.is-invalid]="!!error">
    <img class="password-field__icon" [src]="leftIconSrc" alt="" aria-hidden="true" />
    <input
      class="password-field__input"
      [id]="id"
      [type]="visible ? 'text' : 'password'"
      [placeholder]="placeholder"
      [formControl]="control"
      [attr.aria-invalid]="error ? true : null"
      [attr.aria-disabled]="control.disabled"
    />
    <button
      type="button"
      class="password-field__toggle"
      [attr.aria-label]="visible ? 'Hide password' : 'Show password'"
      [disabled]="control.disabled"
      (click)="toggleVisibility()"
    >
      <img class="password-field__eye" [src]="eyeIconSrc" alt="" aria-hidden="true" />
    </button>
  </span>
  <span *ngIf="error" class="password-field__error">{{ error }}</span>
</label>
